<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fengji.Properties.Settings.fengji_dataConnectionString"
            connectionString="server=114.113.119.14;user id=dwh;database=fengji_data;allowuservariables=True;persistsecurityinfo=True;password=password"
            providerName="MySql.Data.MySqlClient" />
        <add name="Fengji.Properties.Settings.fjdataConnectionString"
            connectionString="server=localhost;user id=root;password=password;persistsecurityinfo=True;database=fjdata"
            providerName="MySql.Data.MySqlClient" />
        <add name="Fengji.Properties.Settings.fjdataConnectionString1"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=fjdata;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>